body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Monet_The_Thames_at_Westminster_1871_Westminster.jpg/2560px-Monet_The_Thames_at_Westminster_1871_Westminster.jpg);
    object-fit: cover;
    color: white;
    text-align: center;
    padding: 3em;
    margin: 0px;
    height: 230px;
    font-size: 40px;
    background-size: cover; 
    background-position: center;
    }

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

.logo img {
    max-height: 50px;
    margin-right: 10px; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 15px; 
}

nav a {
     text-decoration: none;
    color: rgba(55,67,74,255);
    font-weight: bold;

}
nav ul img {
    height: 5px;
    padding: 1px 2px;
}

.top-bar {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.logo img {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    width: 8%;
}

.sidebar h2 {
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.menu-link {
    color: seagreen;
    text-decoration: none;
    font-weight: bold; 
}

.menu-link:hover {
    color: darkslateblue;
}

.content {
    flex: 1;
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.main-content {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

.photo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2px 0;
}

.artwork img {
            width: 500px;
            height: 300px;
            margin: 10px;
            object-fit: cover;
            border: 1px solid #ddd;
            border-radius: 4px;
            transition: 0.3s;
        }

.artwork p {
    word-break: break-word;
    text-align: justify;
}

footer {
    text-align: center;
}

textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

.header {
    padding-top: 0px;
    color: white;
    font-size: 10px;
    text-align: center;
}